/* Global Styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    color: #333;
    text-align: center;
    
}


.wrapper {
    background-color: #f4f4f4;
    max-width: 45rem;
    padding: 20px;
    margin: auto;

}


img {
    width: 100%;
    border-radius: 0.5rem;
}


/* Header Styling */
header {
    background: linear-gradient(135deg, #f8b400, #6a1b9a); 
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}


header p {
    font-size: 16px;
    font-style: italic;
}


/* Main Container */
main {
    margin: 30px auto;
    max-width: 500px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


/* Input Field */
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 0.5rem;
    border: 2px solid #6a1b9a;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}


input[type="text"]:focus {
    border-color: #f8b400;
}


/* Button Styling */
input[type="button"] {
    background-color: #6a1b9a;
    width: 100%;
    color: white;
    border: none;
    margin: 0.5rem;;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}


input[type="button"]:hover {
    background-color: #f8b400;
}


ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}


ul li {
    background-color: #f0f0f0;
    padding: 12px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}


ul li:hover {
    background-color: #f8b400;
    color: white;
}


/* Error Message */
#error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


/* Footer Styling */
footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
}


footer li {
    display: inline;
    margin: 0 10px;
}


footer li a {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}


footer li a:hover {
    color: #f8b400;
}


@media (max-width: 480px) {
    header {
        padding: 20px 10px;
    }

    header h1 {
        font-size: 20px;
    }

    header p {
        font-size: 12px;
    }

    main {
        padding: 15px;
    }

    input[type="text"], input[type="button"] {
        font-size: 12px;
        padding: 8px;
    }
}